<style>
  .login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 45px;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #E5E5E5;
    font-size: 12px;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E5E5E5
  }

  .separator:not(:empty)::before {
    margin-right: .25em;
  }

  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .form{
    width: 100%;
    padding: 0px 30px 0px 30px;
  }

  .input-elem{
    background: #FBFBFB;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 6px 5px 6px 5px;
    font-size: 12px;
    width: 100%;
  }
  .required{
    color: #4EAEEA;
  }

  .field{
    padding-bottom: 12px;
  }

  .btn-login{
    border: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #D62A70;
    border-radius: 20px;
    color: #ffffff;
    min-width: 100px;
    margin-right: 10px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
  }

  .actions{
    padding-bottom: 15px;
  }

  .rem-forgot-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .label{
    color: #232323;
    font-weight: 600;
  }
</style>
<div class="login-box">
  <%=image_tag("logo-large.png", alt: "Electro Lab Logo", class:'about-logo') %>
<div class="separator">Sign in with Email</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form'}) do |f| %>
    <div class="field">
      <div><%= f.label :email, class: 'label' %><span class="required">*</span></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-elem", placeholder: "example@email.com" %>
    </div>

    <div class="field">
      <div><%= f.label :password, class: 'label' %><span class="required">*</span></div>
      <%= f.password_field :password, autocomplete: "current-password", class: "input-elem", placeholder: "5+ characters" %>
    </div>

    <div class="rem-forgot-container">
        <% if devise_mapping.rememberable? %>
          <div>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <%= render "devise/shared/forgot_password_link" %>
    </div>


    <div class="actions">
      <%= f.submit "Login", class: "btn-login" %>
    </div>
    <div>
      Not Registered Yet? <%= render "devise/shared/create_account_link" %>
    </div>
    <%# <%= render "devise/shared/links" %>
  <% end %>
</div>
